*
{
    box-sizing: border-box;
    margin: 0;
}

img
{
    max-width: 100%;
}

main
{
    display: flex;
    flex-direction: column;
}

body
{
    font-family: century-gothic, sans-serif;
    color: black;
}

header
{
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #cacaca;
    position: fixed;
    z-index: 9999;
}

header nav
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.fa-bars
{
    font-size: 30px;
    color: black;
}

#kurv
{
    text-transform: uppercase;
    font-size: 16px;
    color: black;
}

#kurv #kurvTal
{
    font-weight: bold;
}

#topBar
{
    display: inherit;
    align-items: center;
    list-style-type: none;
    margin: 0.75rem 1.25rem;
}

#topBar li:first-of-type
{
    margin-right: 1.25rem;
}
  
#topBar li a 
{
    text-decoration: none;
}

#landingPage h1
{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0.1875rem 0 1.875rem 0;
}

#landingPage h2
{
    font-weight: normal;
    font-size: 18px;
}

#landingPage
{
    padding-bottom: 7rem;
    position: relative;
    background-image: url(../img/forsideur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    order: 1;
}

#logo
{
    transform: scale(1.3, 1.3);
}

#landingPage a
{
    text-decoration: none;
    position: absolute;
    bottom: 4rem;
    left: auto;
    right: auto;
}

#pil
{
    transform: scale(0.5, 0.5);
}

.cls-1
{
    fill:#FFFFFF;
}

.cls-2
{
    fill:#e5dec9;
}

.cls-3
{
    fill:none;
    stroke:#FFFFFF;
    stroke-miterlimit:10;
    stroke-width:5px;
}

.cls-4
{
    fill:#FFFFFF;
}

.produkt,
#misVisVal
{
    margin-bottom: 6.25rem;
}

#vejleUr
{
    margin-top: 6.25rem;
}

#vejleUr
{
    order: 2;
    margin-bottom: 10em;
}

#koldingUr
{
    order: 3;
}

#vejleUr .urBaggrund
{
    background-image: url(../img/produktsidevejle2optimized.png);
}

#koldingUr .urBaggrund
{
    background-image: url(../img/produktsidekolding2optimized.png);
}

.urBaggrund
{
    grid-area: 2/1/3/3;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.urDiv img:first-of-type
{
    position: relative;
    right: 10px;
    height: 100%;
    object-fit: cover;
    grid-area: 1/2/4/3;
}

.urDiv img:last-of-type
{
    display: none;
    height: auto;
    grid-area: 1/1/4/2;
    align-self: center;
}

.urDiv
{
    overflow: hidden;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.125rem 15.625rem 1.5625rem;
}

.dots
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dot1,
.dot2
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 6px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #707070;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
  
.active, .dot:hover
{
    background-color: #345055;
}

.produkt
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.produkt h4
{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0.3125rem;
}

.limit
{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1.875rem;
}

.pris
{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0.625rem;
    margin-top: 2.5rem;
}

.produkt p
{
    font-size: 20px;
    margin-bottom: 1.25rem;
    width: 75%;
}

.produkt article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tekForm
{
    text-align: initial;
    display: grid;
    grid-template-columns: 10fr 1fr;
    padding: 0 2rem 0 2rem;
    font-size: 15px;
    font-weight: 800;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    padding-top: 7px;
}

.tekForm:after
{
    content: '\2228';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.aktiv:after
{
    content: "\2227";
}

.produktMisc
{
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    position: relative;
    text-align: start;
    font-size: 15px;
}

.produktMisc li
{
    margin-top: 10px;
    text-transform: uppercase;
}

.saph::before
{
    content: url(../img/sapphire_crystal.svg);
    left: -0.8em;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.atm::before
{
    content: url(../img/Water_resistant.svg);
    left: -0.8em;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.miyo::before
{
    content: url(../img/MIYOTA6S11.svg);
    left: -0.8em;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.dan::before
{
    content: url(../img/DK_flag.svg);
    left: -0.8em;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.stan::before
{
    content: url(../img/Steel.svg);
    left: -0.8em;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.produkt button:not(.tekForm)
{
    background-color: #345055;
    border: 1px solid #707070;
    color: white;
    padding: 1rem 2.875rem;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#misVisVal
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    order: 4;
    padding-top: 4em;

}

#misVisVal section
{
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    width: 75%;
}

#misVisVal h4
{
    font-size: 20px;
    text-transform: uppercase;
}

#misVisVal p
{
    font-size: 20px;
    width: 100%;
}

footer:not(footer button)
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2em;
}

footer h4
{
    font-size: 32px;
    font-weight: normal;
    padding: 0 27% 0.375rem 27%;
    border-bottom: 5px solid #E6DEC9;
    margin-bottom: 1.875rem;
    text-transform: uppercase;
}

footer section h5
{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 1.875rem;
    text-transform: uppercase;
}

#footerDiv section
{
    width: 100%;
}

#nyhed h5
{
    margin-bottom: 0.9375rem;
}

#nyhedP{
text-transform: uppercase;
font-size: 17px;
}

#footerDiv section form
{
    text-align: initial;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 1em;
    padding: 0 2rem 0 2rem;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}

#email
{
    border: 1px solid #707070;
    color: #8A8686;
    text-decoration: none;
    font-size: 14px;
    width: 12.5em;
    padding-left: 1em;
    outline: none;
}

#submit
{
    background-color: #345055;
    border: 1px solid #707070;
    color: white;
    padding: 1.07em 2.36em;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

footer section:last-of-type ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 1.875rem;
}

footer section:last-of-type li
{
    font-size: 50px;
}

footer section:last-of-type h5
{
    margin-bottom: -0.625rem;
}

#footerDiv section ul:not(#social)
{
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-transform: uppercase;
}

#footerDiv li
{
    margin-top: 10px;
    font-size: 17px;
}

#footerDiv li:first-of-type,
#social li:last-of-type
{
    margin-top: -20px;
}

#footerDiv li:last-of-type,
#social li:first-of-type
{
    margin-bottom: 20px;
}

footer p
{
    font-size: 20px;
}

#social
{
    flex-direction: row;
    column-gap: 10px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-transform: uppercase;
}

footer h5::after
{
    content: '\2228';
    margin-left: 5px;
}

#copy
{
    padding: 20px;
    font-weight: normal;
}
#copy::after
{
    content: none;
}

#tilTopsKnap
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    border: 1px solid #707070;
    border-radius: 10px;
    outline: none;
    background-color: #334F54;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}
  
#tilTopsKnap:hover
{
    background-color: #334F54;
}

@media only screen and (max-width: 600px)
{
    .produkt .produktMisc
    {
        display: none;
    }

    .footerMisc
    {
        display: none;
    }

    #footerDiv section p
    {
        display: none;
    }

    #tilTopsKnap
    {
        display: none;
    }
}

@media only screen and (min-width: 600px)
{
    .urDiv img:last-of-type
    {
        width: auto;
        margin-left: 25%;
    }

    .urDiv
    {
        grid-template-rows: 6rem 30rem 3rem;
        
    }

    .produkt
    {
        display: grid;
        grid-template-columns: 5fr 3fr;
        text-align: start;
    }

    .produkt article
    {
        align-items: flex-start;
        justify-content: flex-start;
    }

    #misVisVal
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        order: 2;
        padding-top: 2em;
        width: 100%;
    }
    #misVisVal section
    {
        display: block;
        width: 100%;
    }

    #vejleUr
    {
        order: 3;
    }

    #koldingUr
    {
        order: 4;
    }

    #footerDiv
    {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        text-transform: uppercase;
    }

    .tekForm
    {
        display: none;
    }

    footer h4
    {
        font-size: 50px;
        padding: 0 40% 0.375rem 40%;
    }


    #social
    {
        display: flex;
    }

    footer h5::after
    {
        content: none;

    }

    footer section h5
{
    font-weight: bold
}

footer:not(footer button)
{
   
    padding-top: 10em;
}

}